Package: sonica-vasya
Provides: sonica-vasya
Maintainer: Evel <forevel@yandex.ru>
Architecture: all
Section: web
Description: Web for Sonica.
 Web interface for Sonica.
Depends: nginx-light
Installed-Size: 15000
